.css-x2fygc-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 48px !important;
}

.css-yafthl-MuiSlider-markLabel {
  top: 10px !important;
}

.css-1eoe787-MuiSlider-markLabel {
  top: 10px !important;   
}