     

.Bubble-container
{
    background-color: transparent;
    color:white;
    z-index: 99;
    position: fixed;
    width: 200px;
    
    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    left: 50%;
    margin-top: -0px; 
    margin-left: -100px;
    border-radius: 0.5rem;

}

.Bubble-container p
{
    text-align: center;
    margin: 5px 0 0 0;
    font-weight: 800;
    color:rgb(254 0 252 / 96%);
}

#inner

{
    animation: rotate linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: center;
    transform-box: border-box;
}

#outer

{
    animation: rotate-inverse linear;
    
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: center;
    transform-box: border-box;
    
}

@keyframes rotate {
    0%
    {
        transform: rotateZ(0deg);
    }
    100%
    {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate-inverse {
    0%
    {
        transform: rotateZ(360deg);
    }
    100%
    {
        transform: rotateZ(0deg);
    }
}


