.css-14su4zb-MuiInputBase-root-MuiInput-root:before{
    border:"none"
}

.css-14su4zb-MuiInputBase-root-MuiInput-root:before :hover{
    border:"none"
}


.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    max-width: 45% !important;
}